.imglogocompra{
    margin: 10px;
    width: 130px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
}
.h1titulo{
    text-align: center;
    position:relative;
    top: -50px;
    margin-right: -39px;
    font-size: 20px;
    margin-top: 52px;
}
.h5informacion{
    text-align: center;
    position:relative;
    top: -80px;
    margin-right: -35px;
    margin-top: 32px;
    font-size: 13px;
}
.h6precio{
    text-align: center;
    position:relative;
    top: -80px;
    margin-right: -13px;
    margin-top: -4px;
    font-size: 19px;
    color :#191970;
}
.h7informacion{
    text-align: center;
    position:relative;
    top: -80px;
    margin-right: -134px;
    margin-top: -6px;
    font-size: 12px;
}
.listas{
    margin-top: 20px;
    margin: 10px;
    margin-right:20px;
 
    
}
.t1{
width: 120px;
height: 60px;
text-align: center;

}