
<ion-content padding>
<h1 class="h1">
GlobalBoxClub
</h1>


<ion-list class="listas">

  <ion-input placeholder="Nombre de la Empresa" ></ion-input>
  <ion-input placeholder="Representante Legal" ></ion-input>
  <ion-input placeholder="Ruc/Cedula/Pasaporte o DNI" ></ion-input>
  <ion-input placeholder="Correo Electronico" ></ion-input>
  <ion-input placeholder="Telefono/WhatsApp" ></ion-input>
  <ion-input placeholder="Dirección" ></ion-input>
  <ion-input placeholder="Ciudad" ></ion-input>
  <ion-input placeholder="Estado/Provincia" ></ion-input>



</ion-list>


















</ion-content>
